@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

html,
body{
    height: 100%;
    overflow-x:hidden;
    background-color: #17212f;
    font-family: 'Poppins';
}

body {
    display: flex;
    flex-direction: column;
}

header{
    background-color: #1C2834;
    grid-template-columns: 1.5fr 10fr;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.header-logo-link {
    display: block;
    float: left;
    width: 85px;
    padding-bottom: 10px;
    overflow: hidden;
    line-height: 50px;
    position: relative;
}

.header-logo {
    object-fit: cover;
    object-position: center;
    max-width: 50%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

header > nav > ul {
    display: flex;
    margin: auto;
    margin-right: 0;
    padding: 0;
    list-style: none;
    justify-content: right;
    gap: 50px;
}

header > nav > ul > li > a {
    padding-top: 10px;
    display: block;
    text-decoration: none;
    background-color: transparent;
    color: #f8f9fa;
    transition: color 0.4s ease-in-out;
}

header > nav > ul > li > a:hover {
    color: cyan;
}

main {
    flex: 1 0 auto;
    padding-top: 20px;
}

.community {
    color: white;
}

.about-community {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.about-lang {
    color: white;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.main-logo{
    display: flex;
    width: 500px;
    height: 150px;
}

footer{
    background-color: #121a26;
    color: white;
    flex: 0 0 auto;
    height: 60px;
    align-items: center;
}

.footer-text {
    padding-top: 15px;
}
